<div class="container">
  <br>
  <br>
  <div class="formborder">
    <form action="/auth/register" method="POST">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" 
        <% if (email) { %> value=<%= email %> <% } %> name="email" required>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" required>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Verify Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Verify Password" name="verify_password" required>
      </div>
      <% if (error) { %>
        <p class="alert-danger"><%= error %></p>
      <% } %>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>